#comment_box {
  display: none;
}

.dish_box {
  display: none;
  position: relative;
}

.booked_images{
margin-top: 15px;
}

.book_dish_img {
  width: 100px;
  height: 100px;
}

.book_dish_info {
  float: right;
  margin-top: 50px;
  margin-right: 1000px;
}