// Place all the styles related to the Dish controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.category_name {
  display: block;
}

.dish_img {
  margin-top: 20px;
  width: 350px;
  height: 350px;
}

.dish_info {
  text-align: center;
  position: relative;
  top: 100px;
}


.dish_desc {
  text-align: center;
  margin-top: -50px;
  margin-right: 350px;
}